[submodule "frontend"]
	path = frontend
	url = https://github.com/Sameer-Ahmed1/coeditor_bitnbuild.git
[submodule "backend"]
	path = backend
	url = https://github.com/Sameer-Ahmed1/coeditor_backend.git
